.square{
    color: red;
    font-size: 30px;
    border: 2px;
    background-color: black;
}
.steve{
    background-color: aqua;
}
.mone{
    color: aliceblue;
    background-color: blueviolet;
}
.kindi{
    background-color: plum;
}
.rrr{
    margin-left: 500px;
    margin-top:10px
}
.kochu{
    border-style: dashed;
}
.a:hover{
    border-radius: 100%;
}